._x19{flex-grow:1}
.sp_HFm2UgCM0yy_1_5x{background-image:url(/rsrc.php/v3/yl/r/2qpRlilgw1X.png);background-size:22px 62px;background-repeat:no-repeat;display:inline-block;height:20px;width:20px}.sp_HFm2UgCM0yy_1_5x.sx_cd531c{background-position:0 0}.sp_HFm2UgCM0yy_1_5x.sx_0b7421{background-position:0 -22px}.sp_HFm2UgCM0yy_1_5x.sx_81c728{width:16px;height:16px;background-position:0 -44px}

#bootloader_4q7pt{height:42px;}.bootloader_4q7pt{display:block!important;}